<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Add Product</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
 <link rel="stylesheet" href="/product-admin-master/css/fontawesome.min.css" />
 <link rel="stylesheet" href="/product-admin-master/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
 <link rel="stylesheet" href="/product-admin-master/css/bootstrap.min.css" />
 <link rel="stylesheet" href="/product-admin-master/css/templatemo-style.css">
</head>
<body>
 <nav class="navbar navbar-expand-xl bg-warning">
   <!-- Navbar code here -->
 </nav>
 
 <div class="container tm-mt-big tm-mb-big">
   <div class="row">
     <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
       <div class="tm-block tm-block-h-auto"  style="background-color: #6c757d;" >
         <div class="row">
           <div class="col-12">

               
               <h2 class="tm-block-title d-inline-block">Add Product</h2>
               <% if (productError) { %>
                <h4 style="color: red;"><%= productError %></h4>
               <% } %>
               
           </div>
         </div>
         <div class="row product-row">
           <div class="col-xl-6 col-lg-6 col-md-12">

             <form action="/admin/productmanagePost" method="post" enctype="multipart/form-data">
               <!-- Image Upload -->
               <div>
                <label for="productImage">Product Image:</label>
                <input type="file" id="productImage" name="Images" accept=".jpg, .jpeg, .png, .gif, .webp" multiple>
                <img id="imagePreview">
                <div id="cropperContainer"></div>
               </div>
               
               <% if (imageError) { %>
                <h4 style="color: rgb(236, 62, 62);"><%= imageError %></h4>
               <% } %>
   

               <!-- Product Name -->
               <div class="form-group mb-3">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="Name" class="form-control validate" >
               </div>
               <!-- Price -->
               <div class="form-group mb-3">
                <label for="productPrice">Product Price:</label>
                <input type="number" id="productPrice" name="price" step="0.01" class="form-control validate" >
               </div>
               <% if (priceError) { %>
                <h5 style="color: red;"><%= priceError %></h5>           
            <% } %> 
            
               <!-- Category, Stock, Description -->
               <div class="form-group mb-3">
                <label for="category">Category:</label>
                <select id="category" name="category" class="custom-select tm-select-accounts" >
                  <option value=" Mens">Mens</option>
                  <option value="Womens">Womens</option>
                </select>
               </div>

               <div class="form-group mb-3">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" class="form-control validate" >
            </div>

            <% if (stockError) { %>
                <h5 style="color: red;"><%= stockError %></h5>           
            <% } %> 

               <div class="form-group mb-3">
                <label for="Discount">Product Discount:</label>
                <input type="number" id="Discount" name="Discount" class="form-control validate">
                <div id="discountError" class="text-danger"></div>
            </div>
            

               <div class="form-group mb-3">
                <label for="description">Description:</label>
                <textarea id="description" name="description" class="form-control validate" ></textarea>
               </div>
               <!-- Submit Button -->
               <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
               </div>
             </form>
                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                <!-- Modals -->
    <!-- Discount Modal -->
    <div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="discountModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="discountModalLabel">Discount Error</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Discount should be between 1 and 100.
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Description Modal -->
  <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="descriptionModalLabel">Description Error</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Description cannot be empty.
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Name Modal -->
  <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="nameModalLabel">Name Error</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Name cannot be empty.
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  <!-- price modal -->
  <div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="priceModalLabel">Price Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Price should be greater than or equal to 10.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



  <!-- Popup Message Modal -->
  <div class="modal fade" id="popupMessageModal" tabindex="-1" role="dialog" aria-labelledby="popupMessageModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="popupMessageModalLabel">Popup Message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body" id="popupMessageContent">
                  <!-- Message content will be dynamically added here -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

 <footer class="tm-footer row tm-mt-small bg-warning">
   <!-- Footer code here -->
 </footer>

 <script>

  $(document).ready(function () {
      $('#Discount').change(function () {
          var discountValue = $(this).val();
          if (discountValue < 1 || discountValue > 100) {
              $('#discountModal').modal('show');
          }
      });

      $('#description').change(function () {
          if ($(this).val().trim() === '') {
              $('#descriptionModal').modal('show');
          }
      });

      $('#productPrice').change(function () {
            var priceValue = $(this).val();
            if (priceValue < 10) {
                $('#priceModal').modal('show');
            }
        });

      $('#productName').change(function () {
          if ($(this).val().trim() === '') {
              $('#nameModal').modal('show');
          }
      });

      function showPopupMessage(message) {
          $('#popupMessageContent').text(message);
          $('#popupMessageModal').modal('show');
      }

     
  });
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
