<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/dashboard.files/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="/dashboard.files/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="/dashboard.files/js/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="/bootstarp.files/css/font-awesome.css" rel="stylesheet"> 
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--static chart-->
<script src="/dashboard.files/js/Chart.min.js"></script>
</head>
<body>
  <div class="sidebar-menu">
    <div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
        <!--<img id="logo" src="" alt="Logo"/>--> 
    </a> </div>		  
    <div class="menu">
      <ul id="menu" >
        <li id="menu-home" ><a href="/admin/dashboardForAdmin"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
        <li><a href="/admin/usermanage"><i class="fa fa-cogs"></i><span>User management</span><span class="fa fa-angle-right" style="float: right"></span></a>
          <!-- <ul>
            <li><a href="grids.html">Grids</a></li>
            <li><a href="portlet.html">Portlets</a></li>		            
          </ul> -->
        </li>
        <!-- <li id="menu-comunicacao" ><a href="#"><i class="fa fa-book nav_icon"></i><span>Element</span><span class="fa fa-angle-right" style="float: right"></span></a>
          <ul id="menu-comunicacao-sub" >
            <li id="menu-mensagens" style="width: 120px" ><a href="buttons.html">Buttons</a>		              
            </li>
            <li id="menu-arquivos" ><a href="typography.html">Typography</a></li>
             <li id="menu-arquivos" ><a href="icons.html">Icons</a></li>
          </ul>
        </li> -->
          <li><a href="/admin/categorymanage"><i class="fa fa-map-marker"></i><span>Category management</span></a></li>
        <!-- <li id="menu-academico" ><a href="#"><i class="fa fa-file-text"></i><span>Pages</span><span class="fa fa-angle-right" style="float: right"></span></a>
          <ul id="menu-academico-sub" >
             <li id="menu-academico-boletim" ><a href="login.html">Login</a></li>
            <li id="menu-academico-avaliacoes" ><a href="signup.html">Sign Up</a></li>		           
          </ul>
        </li> -->
        
        <li><a href="/admin/productlist"><i class="fa fa-bar-chart"></i><span>Product management</span></a></li>
         <!-- <li><a href="/admin/adminprofile"><i class="fa fa-shopping-cart"></i><span>Profile</span><span class="fa fa-angle-right" style="float: right"></span></a></li> -->
         <li><a href="/admin/logout"><i class="fa fa-bar-chart"></i><span>Logout</span></a></li>

      </ul>
    </div>
</body>
</html>