:root{
    --maincolor:#c4c9cd;
    --seondcolor:#dbdbe2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100000;
}
.header #logo{
    font-size: 3.5rem;
    color: black;
}
.navbar a{
    color: black;
    font-size: 1.7rem;
    margin-left: 1rem;
}
.navbar a:hover{
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem;
}
.icons div{
    font-size: 2rem;
    margin-left: 1rem;
    color: black;
    cursor: pointer;
}
.icons div:hover{
    background-color: var(--maincolor);
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem;
}
#menu-bar{
    display: none;
}

.search-box.active{
    left: 40%;
}
.search-box{
    position: absolute;
    top: 110%;
    left: 100%;
    width: 50%;
    right: 2rem;
}
.search-box input{
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 15px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shopping-cart.active{
    left: 70%;
}
.shopping-cart{
    position: absolute;
    top: 110%;
    width: 40rem;
    right: 2rem;
    left: 100%;
    background: white;
}
.shopping-box{
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem;
}
.shopping-box img{
    width: 150px;
}
.fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
}
.fa-times:hover{
    color: var(--maincolor);
}
.shop-content h3{
    font-size: 1.7rem;
    padding: .5rem;
}
.shop-content span{
    margin: .5rem;
    font-size: 1.7rem;
}

.navbar.active{
    left: 0;
}

.main-background{
    background: url(images/background.png);
    background-size: cover;
    background-position: center;
    margin-top: 6%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.left-back{
    flex: 1 1 45rem;
}
.right-content h1{
font-size: 50px;
letter-spacing: 3px;
}
.left-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.right-content{
    flex:1 1 30rem;
}
.right-content p{
    font-size: 1.5rem;
}
.right-content i{
    font-size: 2rem;
}
.inner-main-content{
    background: black;
    padding: 2rem 2rem;
    
}
.inner-main-content h1{
    color: white;
}
.inner-main-content p{
    color: white;
    font-size: 1.5rem;
    padding: .5rem 0;
}
.inner-main-content span{
    color: white;
    font-size: 1.7rem;
    margin-right: 1rem;
}
.shopnow-btn{
    display: block;
    padding: 1rem 2rem;
    background-color: white;
    width: 40%;
    border-radius: 15px;
    color: black;
    font-size: 1.7rem;
}
.gallery{
    padding: 2rem 7%;
}
.gallery h1{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.main-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.inner-gallery{
    flex: 1 1 300px;
}
.inner-gallery img{
    width: 100%;
}
.banner{
    padding: 3rem 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: cyan;
}

.inner-banner{
    flex: 1 1 45rem;
}
.inner-banner img{
    width: 90%;
}
.inner-banner h1{
    font-size: 40px;
    padding: .5rem 0;
}
.inner-banner p{
    font-size: 1.7rem;
    padding: 2rem;
}
.inner-banner a{
    padding: 1rem 3rem;
    background: white;
    color:black;
    font-size: 1.7rem;
    text-align: center;
    margin-top: .5rem;
    border-radius: 15px;
}
.products-type{
    padding: 3rem 7%;
}
.products-type h1{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.main-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.inner-product{
    flex: 1 1 300px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inner-product img{
    width: 100%;
}
.inner-product a{
    position: absolute;
    left: 0;
    top: 50%;
    padding: 1rem 3rem;
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    z-index: 1000000;
}
.slick-slide{
    margin: 0 10px;
}
.featured-inner-product{
    position: relative;
}
.featured-inner-product a{
    position: absolute;
    left: 0;
    top: 50%;
    padding: 1rem 3rem;
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    z-index: 10000;
}

.our-blog{
    padding: 3rem 7%;
}
.our-blog h1{
    font-size: 40px;
    text-align: center;
    
}
.main-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 15px;
}
.inner-blog{
    flex: 1 1 45rem;
    position: relative;
}
.inner-blog p{
    width: 50%;
    background: white;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20%;
    border-radius: 15px;
    text-align: center;
}





















@media (max-width:768px) {
    html{
        font-size: 50%;
    }
    #menu-bar{
        display: initial;
    }
    .header{
        padding: 2rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        width: 50rem;
        background: var(--maincolor);
        height: 100vh;
        left:100%;
    }
    .navbar a{
        display: block;
        color: white;
        background: black;
        margin: 3rem;
        padding: 1.5rem;
        border-radius: 15px;
        width: 45rem;
    }
  .slick-slide img{
      width: 100%;
  }
}