<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <form id="addressForm" action="/NewAddressAddedForUser" method="POST">
                    <div class="form-group">
                       <label for="Street">Street</label>
                       <input type="name" class="form-control" id="Street" placeholder="Enter Street" name="street" >
                    </div>
                    <div class="form-group">
                       <label for="Country">Country</label>
                       <input type="text" class="form-control" id="Country" placeholder="Enter Country" name="country" >
                    </div>
                    <div class="form-group">
                       <label for="City">City</label>
                       <input type="name" class="form-control" id="City" placeholder="Enter City" name="city" >
                    </div>
                    <div class="form-group">
                       <label for="State">State</label>
                       <input type="text" class="form-control" id="State" placeholder="Enter State" name="state">
                    </div>
                    <div class="form-group">
                       <label for="Zip">Zip Code</label>
                       <input type="text" class="form-control" id="Zip" placeholder="Zip Code" name="zip" >
                    </div>
                    <div class="form-group">
                       <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
     </div>


</body>
</html>