<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link href="/web 2/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/web 2/css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet"> <!-- web font -->
</head>

<body>
    <!-- main -->
    <div class="main">
        <h1>OTP Verification</h1>
        <div class="main-w3lsrow">
            <!-- login form -->
            <div class="login-form login-form-left">   
                <div class="agile-row">
                    <h2>Enter OTP</h2>
                    <span class="fa fa-lock"></span>
                    <div class="clear"></div>
                    <div class="login-agileits-top">   	
                        <form action="/verifyOtp" method="post" id="otpForm">
                            <input type="text" name="otp" placeholder="Enter the OTP" required>
                            <p style="color: red;" id="wrongOtp"><%= wrongOtp %></p>
                            <p style="color: red;" id="validate"><%= validate %></p>
                            <p id="timer" style="color: red;"></p>
                            <input type="submit" value="Verify OTP">   
                        </form>   	
                    </div>   
                </div>   
            </div>   
        </div>	
    </div>	
    <!-- //main -->   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var countdown =  59;
        function startTimer() {
            var timerElement = document.getElementById('timer');
            var timerInterval = setInterval(function () {
                if (countdown <=  0) {
                    clearInterval(timerInterval);
                    timerElement.innerHTML = "Your OTP has expired. Please try again.";
                    document.getElementById('otpForm').addEventListener('submit', function(event) {
                        event.preventDefault();
                        alert("Your OTP has expired.");
                    });
                    timerElement.style.display = 'none';
                } else {
                    timerElement.innerHTML = 'Your OTP will expire in ' + countdown + ' seconds';
                    countdown--;
                }
            },  1000);
        }
        startTimer();
    </script>
</body>

</html>
