<div class="col-xl-4 col-lg-4">
  <% if (cartFound && cartFound.length > 0) { %>

  <% cartFound.forEach((cart)=> { %>
    <% if (cart.products && cart.products.length > 0) { %>
      <% cart.products.forEach((product) => { %>
        <div class="card mb-4 border shadow-0">
          <div class="d-flex align-items-center mb-4">
            <div class="me-3 position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                <%= product.quantity %>
              </span>
              <img src="<%= product.images && product.images.length > 0 ? product.images[0]?.slice(6) : 'default-image-url' %>"
                style="height: 96px; width: 96px;" class="img-sm rounded border" />
            </div>
            <div class="">
              <a href="#" class="nav-link">
                <%= product.name %> <br />
                <%= product.description %>
              </a>
              <div class="price text-muted">Total: $<%= product.total %></div>
            </div>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <p>No items in the cart.</p>
    <% } %>
  <% }) %>
</div>

<% } else { %>
  <p>Not item were found</p>
  <% } %>

</div>