<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Shop Cartify signup</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fashion Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> -->
<link href="/web 2/css/style.css" rel="stylesheet" type="text/css" media="all" />

<link href="/web 2/css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->

<!-- //Custom Theme files -->
<!-- web font --> 
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //web font --> 
</head>
<body>
	<!-- main -->
	<div class="main">
		<h1>ShopCartify Signup </h1>
		<div class="main-w3lsrow">
			<!-- login form -->
			<div class="login-form login-form-left"> 
				<div class="agile-row">
					<h2>Signup to create a account</h2>
					<span class="fa fa-lock"></span>
					<div class="clear"></div>
					<div class="login-agileits-top"> 	
            <form id="SignupForm" action="/signup" method="post">

                <input type="text" id="username" class="form-control" name="username" placeholder="Enter your Username"  />

                <% if (usernameError) { %>
                    <p style="color: red;"><%= usernameError%></p>
                <% } %>

              <div class="email-container">
                <input type="text" id="email" class="form-control" name="email" placeholder="Enter your Email"  />
            </div>

            <% if (emailError) { %>
                <p style="color: red;"><%= emailError%></p>
            <% } %>

            <input type="password" id="password" class="form-control" name="password" placeholder="Enter your Password"  />

            <% if (passwordError) { %>
                <p style="color: red;"><%= passwordError %></p>
            <% } %>

            
            <input type="submit" value="Signup"> 
    
                    <div class="login-agileits-bottom"> 
                        <h6><a href="redirectToLogin">Already have and account?</a></h6>
                    </div> 
                    <br>

                </form> 	
					</div> 

				</div>  
			</div>  
		</div>	
		 
	</div>	
	<!-- //main --> 
</body>
</html>